.benefits {
  margin-top: 114px;
  margin-bottom: 60px;
  width: 100%;
}
.benefits_wrap {
  display: flex;
}
.benefits_text {
  flex: 1;
}
.benefits_title {
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: var(--dark-blue);
  max-width: 500px;
  margin: 0;
}
.benefits_title span {
  color: var(--blue);
}
.benefits_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--dark);
  margin-top: 21px;
  margin-bottom: 37px;
  max-width: 400px;
}
.benefits_btn {
  color: var(--white);
  background-color: var(--blue);
  padding: 14px 20px;
  border-radius: 8px;
  border: 0;
  width: 200px;
  height: 52px;
  cursor: pointer;
}
.benefits_features {
  flex: 1;
}
.benefits_features_row {
  display: flex;
}
.benefits_features_row_item {
  width: 231px;
  margin-bottom: 20px;
}
.benefits_features_row_item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--dark-blue);
  margin-top: 6px;
  max-width: 195px;
}
.benefits_col {
  margin-right: 20px;
}
.benefits_second p {
  max-width: 205px;
}
@media screen and (max-width: 1280px) {
  .benefits_wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .benefits_text {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefits_title,
  .benefits_subtitle {
    text-align: center;
  }
  .benefits_features {
    margin-top: 16px;
  }
  .benefits_features_row {
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .benefits {
    margin-top: 40px;
  }
  .benefits_title {
    font-size: 24px;
    max-width: 343px;
  }
  .benefits_btn {
    width: 100%;
  }
  .benefits_features_row_item {
    width: 164px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }
  .benefits_features_row_item img {
    margin-top: -5px;
  }
  .benefits_features_row {
    justify-content: space-around;
  }
}
